 @import url("/usr/share/gnome-shell/theme/Yaru/gnome-shell.css");
 /* Just the bits needed, the rest inherited from above */

/* panel - system tray */
.panel {
  color: #3b3b3b !important; 
}

 #panel .panel-button .system-status-icon {
  icon-size: 18px; /* knaimad - tray icon size */
  padding: 6px;
  margin: 0;
  spacing: 1px;
  color: #3b3b3b !important; /* knaimad - tray icon color */
}

/* panel - clock */
#panel .panel-button.clock-display .clock {
  transition-duration: 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
  background: none;
  font-family: Vipnagorgialla;
  font-size: 11pt; /* knaimad - clock font */
  font-weight: normal; /* knaimad - clock font */
  color: #3b3b3b !important; /* knaimad - clock color */
}

/* panel - app icons */
 #panel StIcon {
  icon-size: 28px; /* knaimad - tray icon size */
  padding: 0px;
  margin: 0;
  spacing: 1px;
  color: #3b3b3b !important; /* knaimad - tray icon color */
 }

/* Popovers/Menus */
.popup-menu-boxpointer, .candidate-popup-boxpointer {
  -arrow-rise: 6px; }

.popup-menu {
  min-width: 15em;
  color: #fffbef;
  font-family: Vipnagorgialla; }
  .popup-menu.panel-menu {
    margin-bottom: 1.75em; }

/* main bg color */
.popup-menu-content, .candidate-popup-content {
  padding: 34px; /* the padding either side */
  /* background-color: rgba(150, 157, 154, 0.8); /* slight transparency */
  background-gradient-start: rgba(92, 136, 112, 0.7);
  background-gradient-end: rgba(210, 211, 215, 0.9);
  background-gradient-direction: horizontal;
  border-radius: 10px;
  border: none;
  color: #2f2f2f !important;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05); }

/* OSD */
.osd-window {
    text-align: center;
    font-weight: normal;
    font-family: Vipnagorgialla;
    color: #2f2f2f !important;
    spacing: 1em;
    background-gradient-start: rgba(92, 136, 112, 0.7);
    background-gradient-end: rgba(210, 211, 215, 0.9);
    background-gradient-direction: horizontal;
}

.osd-window .level {
    height: 0.6em;
    border-radius: 0.3em;
    background-color: rgba(190,190,190,0.2);
}

/* Modal dialogues */
.modal-dialog {
    border-radius: 1em;
    background-gradient-start: rgba(92, 136, 112, 0.7);
    background-gradient-end: rgba(210, 211, 215, 0.9);
    background-gradient-direction: horizontal;
    border: 0px solid #868686;
    font-family: Vipnagorgialla;
    color: #2f2f2f !important;
    padding-right: 42px;
    padding-left: 42px;
    padding-bottom: 30px;
    padding-top: 30px;
}

/* notification title */
.message .message-header {
    font-size: 12pt;
    color: #2f2f2f;  
}
/* notification text */
.notification-banner {
    font-size: 12pt;
    color: #2f2f2f;
    font-family: Vipnagorgialla;
    width: 34em;
    border-radius: 1em;
    /*background-color: rgba(153, 124, 171, 0.8) !important;*/
    background-gradient-start: rgba(92, 136, 112, 0.7);
    background-gradient-end: rgba(210, 211, 215, 0.9);
    background-gradient-direction: horizontal;  
}

/* Quick menu toggles --------------*/
.quick-settings {
  padding: 18px !important;
  border-radius: 24px !important;
  margin-top: 6px !important;
  min-width: 600px;
}

/* main color of the buttons */
.quick-toggle {
  background-color: rgba(92, 136, 112, 0.7) !important;
  background-gradient-start: rgba(92, 136, 112, 0.7);
  background-gradient-end: rgba(210, 211, 215, 0.9);
  background-gradient-direction: horizontal;
  color: #373737;
  min-width: 160px;
  padding: 0px 16px;
  border: none;
  margin: none;

}
/* the arrow at the side of the buttons */
.quick-toggle-has-menu .quick-toggle-menu-button {
  background-color: rgba(210, 211, 215, 0.9) !important;
  /*
  background-gradient-start: rgba(92, 136, 112, 0.7);
  background-gradient-end: rgba(210, 211, 215, 0.9);
  background-gradient-direction: horizontal;
  */
  color: #373737;
  padding: 0px 12px;
  border: none;
  margin: none;
}

/* -- gets rid of the gap between the above buttons -- */
.quick-menu-toggle .quick-toggle-separator, .quick-toggle-has-menu .quick-toggle-separator {
  width: 0; }

/* doesn't seem to do anything */
.quick-toggle:active {
  background-color: rgba(210, 74, 15, 0.5) !important;
}

/* doesn't seem to do anything */
.quick-toggle:checked:active {
  background-color: rgba(191, 184, 48, 0.974) !important;
  color: #373737;
}

/* hover over active buttons */
.quick-toggle:checked:hover {
  background-color: rgba(210, 211, 215, 0.9) !important;
  border: none;
  color: #373737;
}

/* hover over active arrows */
.quick-toggle-has-menu .quick-toggle-menu-button:checked:hover {
  background-color: rgba(210, 211, 215, 0.9)!important;
  color: #373737;
}

/* hover over inactive buttons */
.quick-toggle:hover {
  background-color: rgba(210, 211, 215, 0.9) !important;
  color: #373737;
}

/* ---top buttons-----*/
.quick-settings-system-item .icon-button, .quick-settings-system-item .message .message-header .message-expand-button, .message .message-header .quick-settings-system-item .message-expand-button,
.quick-settings-system-item .message .message-header .message-close-button,
.message .message-header .quick-settings-system-item .message-close-button, .quick-settings-system-item .message-notification-group .message-collapse-button, .message-notification-group .quick-settings-system-item .message-collapse-button, .quick-settings-system-item .background-app-item .close-button, .background-app-item .quick-settings-system-item .close-button {
  background-color: rgba(210, 211, 215, 0.9);
  /* uncomment to make these a gradient
  background-gradient-start: rgba(92, 136, 112, 0.7);
  background-gradient-end: rgba(210, 211, 215, 0.9);
  background-gradient-direction: horizontal;
  */
  color: #373737 !important;
  border-radius: 12px;
}

/* --- vol & brightness sliders --------- */
.slider {
  height: 20px;
  color: #373737;
  -slider-height: 2px;
  -slider-background-color: rgba(51, 60, 67, 0.26);
  -slider-border-color: rgba(210, 211, 215, 0.9);
  -slider-active-background-color: rgba(210, 211, 215, 0.9);
  -slider-active-border-color: rgba(210, 211, 215, 0.9);
  -slider-border-width: 2px;
  -slider-handle-radius: 7px;
  -slider-handle-border-width: 2px;
  -slider-handle-border-color: rgba(210, 211, 215, 0.9);
  -barlevel-height: 15px;
  -barlevel-background-color: rgba(51, 60, 67, 0.26);
  -barlevel-border-color: transparent;
  -barlevel-active-background-color: rgba(210, 211, 215, 0.9);
  -barlevel-active-border-color: transparent;
  -barlevel-overdrive-color: #e67e80;
  -barlevel-overdrive-border-color: transparent;
  -barlevel-overdrive-separator-width: 2px;
  -barlevel-border-width: 0;
}

.quick-slider .icon-button, .quick-slider .message .message-header .message-expand-button, .message .message-header .quick-slider .message-expand-button,
.quick-slider .message .message-header .message-close-button,
.message .message-header .quick-slider .message-close-button, .quick-slider .message-notification-group .message-collapse-button, .message-notification-group .quick-slider .message-collapse-button, .quick-slider .background-app-item .close-button, .background-app-item .quick-slider .close-button {
  background-color: rgba(92, 136, 112, 0.7);
  /* uncomment to make these a gradient
  background-gradient-start: rgba(92, 136, 112, 0.7);
  background-gradient-end: rgba(210, 211, 215, 0.9);
  background-gradient-direction: horizontal;
  */
  color: #373737 !important;
  border-radius: 12px;
  border: none;
  }

/* --- vol & brightness icons --------- */
.quick-slider .icon-button:hover, .quick-slider .message .message-header .message-expand-button:hover, .message .message-header .quick-slider .message-expand-button:hover,
.quick-slider .message .message-header .message-close-button:hover,
.message .message-header .quick-slider .message-close-button:hover, .quick-slider .message-notification-group .message-collapse-button:hover, .message-notification-group .quick-slider .message-collapse-button:hover, .quick-slider .background-app-item .close-button:hover, .background-app-item .quick-slider .close-button:hover {
  background-gradient-start: rgba(92, 136, 112, 0.7);
  background-gradient-end: rgba(210, 211, 215, 0.9);
  background-gradient-direction: horizontal;
}

.quick-slider .icon-button:active, .quick-slider .message .message-header .message-expand-button:active, .message .message-header .quick-slider .message-expand-button:active,
.quick-slider .message .message-header .message-close-button:active,
.message .message-header .quick-slider .message-close-button:active, .quick-slider .message-notification-group .message-collapse-button:active, .message-notification-group .quick-slider .message-collapse-button:active, .quick-slider .background-app-item .close-button:active, .background-app-item .quick-slider .close-button:active {
  background-gradient-start: rgba(92, 136, 112, 0.7);
  background-gradient-end: rgba(210, 211, 215, 0.9);
  background-gradient-direction: horizontal;
}

/* Calendar */

/* -- month and forward/back --*/
.calendar .calendar-month-label {
  padding: 6px 0;
  background-gradient-start: rgba(92, 136, 112, 0.7);
  background-gradient-end: rgba(210, 211, 215, 0.9);
  background-gradient-direction: horizontal;
  color: #373737;
  font-weight: normal;
  text-align: center;
  text-shadow: none;
  border-radius: 5px;
}

.calendar .calendar-change-month-back,
.calendar .calendar-change-month-forward {
  background-gradient-start: rgba(92, 136, 112, 0.7);
  background-gradient-end: rgba(210, 211, 215, 0.9);
  background-gradient-direction: horizontal;
  color: #373737;
  padding: 0 !important;
  margin: 3px 0 !important;
}

/* days */

.calendar .calendar-day-heading {
  font-weight: bold;
  text-align: center;
  margin: 4px;
  padding: 3px 6px;
  border-radius: 5px;
  background-color: transparent;
  /*
  background-gradient-start: rgba(92, 136, 112, 0.7);
  background-gradient-end: rgba(210, 211, 215, 0.9);
  background-gradient-direction: horizontal;
  */  
  color: #373737;
}  

.calendar .calendar-day {
  font-size: 10pt;
  text-align: center;
  width: 34px !important;
  height: 34px !important;
  padding: 0 !important;
  margin: 2px !important;
  border-radius: 5px;
  background-color: rgba(210, 211, 215, 0.9);
  /*
  background-gradient-start: rgba(92, 136, 112, 0.7);
  background-gradient-end: rgba(210, 211, 215, 0.9);
  background-gradient-direction: horizontal;
  */  
  color: #373737;
  border: none;
  font-feature-settings: "tnum";
}

.calendar .calendar-today:selected {
  color: #373737 !important;
  background-color: rgba(92, 136, 112, 0.7);
  font-weight: bold;
}

/* -- buttons and messages etc -- */
.popup-menu .message, .world-clocks-button,
.weather-button,
.events-button {
  background-gradient-start: rgba(92, 136, 112, 0.7);
  background-gradient-end: rgba(210, 211, 215, 0.9);
  background-gradient-direction: horizontal;
  color: #373737;
  border-radius: 3px;
  border: none;
  box-shadow: none;
  text-shadow: none;
}

/* ---------- TESTING --------------*/

/* NEXT: 
- notification title
- clear button on calendar
 */

